body {
    width: 720px;
    background-color: #e6eff3;
}

h1 {
    font-family: sans-serif;
    text-align: center;
}

img.flag {
    width: 32px;
    vertical-align: middle;
    margin-bottom: 2px;
    /*
    border: 1px black solid; */
}

ul {
    list-style-type: none;
    /* chrome default is 1em */
    margin-block-start: .4em;
    margin-block-end: .4em;
}


#len2, #len3 {
    columns: 8;
}
#len4, #len5 {
    columns:6;
}
#len1, #len5, #len6, #len7 {
    columns: 4;
}
#len8, #len9, #lenna {
    columns: 3;
    margin-left: 1em;
}

#lenna {
}

li span {
    font-size: 1.1em;
    font-family: sans-serif;
    font-variant-caps: all-small-caps;
}

span.pre {
}

span.suff {
   color: #fff; 
   display: none;
}

section {
    border-bottom: 1px black solid;
}

h2 {
    position: absolute;
    margin-block-start: 0em;
}
