body {
    width: 700px;
}
span.suff {
   color: #fff; 
   display: none;
}

#len2, #len3 {
    columns: 8;
}
#len4, #len5 {
    columns:6;
}
#len1, #len5, #len6, #len7 {
    columns: 4;
}
#len8, #len9, #lenna {
    columns: 3;
}
